<div style="background-color: lightgray; padding: 0 60px">

  <h1> Bottom Aligned </h1>
  <h2> Editable </h2>

  <div class="example example--fixed">
    <span> Here is an h1 long length title</span>
    <supre-smart-text supreActionsAlign="bottom">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder </h2>

  <div class="example example--fixed">
    <span> Here is an h1 long length title with placeholder</span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses </h2>

  <div class="example example--fixed">
    <span> Here is an h1 short length title with placeholder with one row</span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}" supreRows=1>
      <h1> {{shortTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows</span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}" supreRows=2>
      <h1> {{mediumTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 long length title with placeholder with two rows</span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}" supreRows=2>
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses, Default </h2>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows with default </span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}" supreRows=2 supreDefaultText="{{defaultText}}">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 empty title with placeholder with two rows with default </span>
    <supre-smart-text supreActionsAlign="bottom" suprePlaceholder="{{placeholderText}}" supreRows=2 supreDefaultText="{{defaultText}}">
      <h1></h1>
    </supre-smart-text>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses, ForceValue </h2>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows with forced value </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=2 suprePlaceholder="{{placeholderText}}" [supreForceValue]="true">
      <h1> {{mediumTitle}} </h1>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 empty title with placeholder with two rows with forced value </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=2 suprePlaceholder="{{placeholderText}}" [supreForceValue]="true">
      <h1> </h1>
    </supre-smart-text>
  </div>


  <br><br><br><br><hr><hr><hr><hr>
  <h2> Showcasing with other tags / styles </h2>

  <div class="example example--fixed">
    <span> Here is a span tag with one row </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=1>
      <span> {{ shortTitle }} </span>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is a paragraph tag (with margin) with three rows </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=3>
      <p> {{longTitle}} </p>
    </supre-smart-text>
  </div>

  <!--
  <div class="example example-fixed">
    <span> Here is a div tag (with margin) with two rows, and inline styles </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=2>
      <p style="padding: 50px; color: red; background-color: pink"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>
  -->

  <div class="example example--fixed">
    <span> Here is a div tag (with margin) with two rows, and class styles (margin, color, bg-color) </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=2>
      <!-- <p class="foobar"> {{ mediumTitle }} But keeps going a little longer to showcase a little longer. That is all.</p> -->
      <p class="foobar"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is a div tag (with margin) with two rows, and class styles (padding, color, bg-color, font-weight, text-decoration) </span>
    <supre-smart-text supreActionsAlign="bottom" supreRows=2>
      <p class="bazqux"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>

  <br><br><br><br><hr><hr><hr><hr>
  <br><br><br><br><hr><hr><hr><hr>
  <br><br><br><br><hr><hr><hr><hr>

  <h1> Right Aligned </h1>
  <h2> Editable </h2>

  <div class="example example--fixed">
    <span> Here is an h1 long length title</span>
    <supre-smart-text supreActionsAlign="right">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder </h2>

  <div class="example example--fixed">
    <span> Here is an h1 long length title with placeholder</span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses </h2>

  <div class="example example--fixed">
    <span> Here is an h1 short length title with placeholder with one row</span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}" supreRows=1>
      <h1> {{shortTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows</span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}" supreRows=2>
      <h1> {{mediumTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 long length title with placeholder with two rows</span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}" supreRows=2>
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
    <span> {{belowText}} </span>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses, Default </h2>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows with default </span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}" supreRows=2 supreDefaultText="{{defaultText}}">
      <h1> {{longTitle}} </h1>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 empty title with placeholder with two rows with default </span>
    <supre-smart-text supreActionsAlign="right" suprePlaceholder="{{placeholderText}}" supreRows=2 supreDefaultText="{{defaultText}}">
      <h1></h1>
    </supre-smart-text>
  </div>


  <h2> Editable, Placeholder, Rows/Ellipses, ForceValue </h2>

  <div class="example example--fixed">
    <span> Here is an h1 medium length title with placeholder with two rows with forced value </span>
    <supre-smart-text supreActionsAlign="right" supreRows=2 suprePlaceholder="{{placeholderText}}" [supreForceValue]="true">
      <h1> {{mediumTitle}} </h1>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is an h1 empty title with placeholder with two rows with forced value </span>
    <supre-smart-text supreActionsAlign="right" supreRows=2 suprePlaceholder="{{placeholderText}}" [supreForceValue]="true">
      <h1> </h1>
    </supre-smart-text>
  </div>


  <br><br><br><br><hr><hr><hr><hr>
  <h2> Showcasing with other tags / styles </h2>

  <div class="example example--fixed">
    <span> Here is a span tag with one row </span>
    <supre-smart-text supreActionsAlign="right" supreRows=1>
      <span> {{ shortTitle }} </span>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is a paragraph tag (with margin) with three rows </span>
    <supre-smart-text supreActionsAlign="right" supreRows=3>
      <p> {{longTitle}} </p>
    </supre-smart-text>
  </div>

  <!--
  <div class="example example-fixed">
    <span> Here is a div tag (with margin) with two rows, and inline styles </span>
    <supre-smart-text supreActionsAlign="right" supreRows=2>
      <p style="padding: 50px; color: red; background-color: pink"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>
  -->

  <div class="example example--fixed">
    <span> Here is a div tag (with margin) with two rows, and class styles (margin, color, bg-color) </span>
    <supre-smart-text supreActionsAlign="right" supreRows=2>
      <!-- <p class="foobar"> {{ mediumTitle }} But keeps going a little longer to showcase a little longer. That is all.</p> -->
      <p class="foobar"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>

  <div class="example example--fixed">
    <span> Here is a div tag (with margin) with two rows, and class styles (padding, color, bg-color, font-weight, text-decoration) </span>
    <supre-smart-text supreActionsAlign="right" supreRows=2>
      <p class="bazqux"> {{ mediumTitle }} </p>
    </supre-smart-text>
  </div>

</div>
