.foobar {
  color: red;
  background-color: pink;
  margin: 10px;
}
.bazqux {
  color: white;
  background-color: black;
  padding: 10px;
  font-weight: 100;
  text-decoration: underline;
}
h2 {
  margin-top: 80px;
  text-decoration: underline;
}
h3 {
  margin-top: 30px;
}
.example {
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  margin-left: 30px;
  width: 33%;
  min-width: 425px;
}
.example-notes {
  display: block;
  margin-top: 15px;
}
