<div style="width: 100%; height: 30px; background-color: #0089d0; color: white"></div>
<div style="margin-top: 19px; margin-left: 30px; width: 425px">
  <supre-smart-text supreRows=2 suprePlaceholder="Please enter blah blah" supreDefaultText="Automated Splendidly Awesome Default Title (1)">
    <h1></h1>
  </supre-smart-text>
  <div style="margin-top: 25px;">
    Just some notes which doubles as example text underneath the component. NOTES: In addition to the simple options (editable text, placeholder text if empty, specify number of rows (using ellipsis with popover for overflow)), this "default" example provided a default value whenever the input is confirmed empty (eg, if the title is backspaced completely, and then confirmed, the title will be saved with the default value). The component can be initialized WITHOUT (as above) or WITH a starting text.
  </div>
</div>
