<div style="width: 100%; height: 30px; background-color: #0089d0; color: white"></div>
<div style="margin-top: 19px; margin-left: 30px; width: 425px">
  <supre-smart-text supreRows=2 suprePlaceholder="Please enter blah blah" [supreForceValue]="true">
    <h1></h1>
  </supre-smart-text>
  <div style="margin-top: 25px;">
    Just some notes which doubles as example text underneath the component. NOTES: In addition to the simple options (editable text, placeholder text if empty, specify number of rows (using ellipsis with popover for overflow)), this "forced-value" example forces a value; ie, it removes the ability to confirm when the input is empty (eg, if the title is backspaced completely, the confirm button is removed). The component can be initialized WITHOUT (as above) or WITH a starting text.
  </div>
</div>
