<h1> Smart Text Component </h1>

<h2> Demos using Smart Text with a Header</h2>

<div>
  <a routerLink="/simple">Simple example</a>
  <span>
    Features: editable text, placeholder text if empty, specify number of rows (using ellipsis with popover for overflow)
  </span>
</div>

<div>
  <a routerLink="/default">Default example</a>
  <span>
    Features: editable text, placeholder text if empty, specify number of rows (using ellipsis with popover for overflow), default value given for empty
  </span>
</div>

<div>
  <a routerLink="/forced-value">Force value example</a>
  <span>
    Features: editable text, placeholder text if empty, specify number of rows (using ellipsis with popover for overflow), if empty user cannot close
  </span>
</div>

<hr>

<h2> All Examples </h2>
<div>
  <a routerLink="/all">all examples</a>
</div>
