<div style="padding:30px;">
  <h1> Smart Text Component </h1>

  <h2> Demos using Smart Text with a Header</h2>

  <div>
    <a routerLink="/static">Static example</a>
    <span>
      Features: Rows
    </span>
  </div>

  <div>
    <a routerLink="/simple">Simple example</a>
    <span>
      Features: Rows + Editable + Placeholder
    </span>
  </div>

  <div>
    <a routerLink="/default">Default example</a>
    <span>
      Features: Rows + Editable + Placeholder + Default
    </span>
  </div>

  <div>
    <a routerLink="/default-empty">Default example starting empty</a>
    <span>
      Features: Rows + Editable + Placeholder + Default
    </span>
  </div>

  <div>
    <a routerLink="/forced-value">Force value example</a>
    <span>
      Features: Rows + Editable + Placeholder + Forced
    </span>
  </div>

  <div>
    <a routerLink="/forced-value-empty">Force value show starting empty</a>
    <span>
      Features: Rows + Editable + Placeholder + Forced
    </span>
  </div>

  <div>
    <h3> Explanation of Features </h3>
    <div><b>Rows</b>: Specify a maximum number of rows for the display text, using an ellipsis with popover if text overflows.</div>
    <div><b>Editable</b>: Specify the display text to be editable.</div>
    <div><b>Placeholder</b>: Specify a placeholder in editable area if empty.</div>
    <div><b>Default</b>: Specify a default value if the editable area is saved empty (or starts empty).</div>
    <div><b>Forced</b>: Specify the editable area cannot be saved/cancelled until a value is provided (if starts empty, component will begin as editable).</div>
  </div>

  <hr>

  <h2> All Examples </h2>
  <div>
    <a routerLink="/all">all examples</a>
  </div>
</div>
