<div class="fake-navbar"></div>
<div class="example">
  <supre-smart-text supreRows=2 suprePlaceholder="Please enter blah blah">
    <div class="header">
      I ponder of something great. My lungs will fill and deflate. They fill with fire, exhale desire. I know it's dire my time today.
    </div>
  </supre-smart-text>
  <div class="example-notes">
    Just some notes which doubles as example text underneath the component. NOTES: This simple example shows the basic features: editable text, configurable placeholder text if empty, configurable number of rows (using ellipsis with popover for overflow).
  </div>
</div>
