.popover-content {
  color: black !important;
  -webkit-text-fill-color: black !important;
}
.header {
  color: #666 !important;
  font-family: 'Verdana' !important;
  font-size: 22px !important;
  margin-top: 40px;
}
