$blue:    #0089d0;

/* 
   NOTE: The text area mirrors the original element by
   copying it's styles inline. Thus, to style it here,
   the styles must be postfixed !important.
*/

:host {
  display: block;
}
.SmartText-Display {
  overflow: hidden;
  display: flex;
  border: 1px solid white;
}
.SmartText.is-rightAligned .SmartText-Display {
  align-items: center;
}
.SmartText.is-bottomAligned .SmartText-Display {
  flex-direction: column;
}
.SmartText-Display.is-active {
  color: $blue;
  -webkit-text-fill-color: $blue;
}
.SmartText-DisplayText {
  width: 100% !important;
}
.SmartText-EditIcon {
  cursor: pointer;
  visibility: hidden;
}
.SmartText.is-bottomAligned .SmartText-EditIcon {
  text-align: left;
  margin-top: 3px;
}
.SmartText.is-bottomAligned .SmartText-EditFontIcon {
  display: inline-block;
}
.SmartText.is-bottomAligned .SmartText-EditIcon:after {
  content: 'Edit'
}
.SmartText.is-rightAligned .SmartText-EditIcon {
  text-align: center;
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
}
.SmartText.is-display .SmartText-Display.is-active .SmartText-EditIcon {
  visibility: visible;
}
.SmartText-Edit {
  overflow: hidden;
}
.SmartText.is-rightAligned .SmartText-Edit {
  display: flex;
  align-items: center;
}
.SmartText.is-bottomAligned .SmartText-Edit {
  text-align: left;
}
.SmartText-CancelIcon,
.SmartText-ConfirmIcon {
  cursor: pointer;
  color: $blue;
}

.SmartText.is-rightAligned .SmartText-CancelIcon,
.SmartText.is-rightAligned .SmartText-ConfirmIcon {
  text-align: center;
}
.SmartText.is-bottomAligned .SmartText-ConfirmIcon,
.SmartText.is-bottomAligned .SmartText-ConfirmFontIcon,
.SmartText.is-bottomAligned .SmartText-CancelIcon,
.SmartText.is-bottomAligned .SmartText-CancelFontIcon {
  display: inline-block;
}
.SmartText.is-bottomAligned .SmartText-ConfirmIcon:after {
  content: 'Confirm'
}
.SmartText.is-bottomAligned .SmartText-CancelIcon:after {
  content: 'Cancel'
}
.SmartText-EditArea {
  box-sizing: border-box !important;
  width: 100% !important;
  overflow: hidden !important;
  resize: none !important;
}
.SmartText-Edit.is-notActive .SmartText-EditArea {
  border: 1px solid #cccccc !important;
}
.SmartText-Edit.is-active .SmartText-EditArea {
  border: 1px solid $blue !important;
}
.SmartText-EditArea:focus {
  border: 1px solid $blue;
  box-shadow: none;
  outline: none;
}
.SmartText.is-rightAligned .SmartText-EditingActions {
  display: flex;
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
}
.SmartText.is-bottomAligned .SmartText-EditingActions {
  display: inline-block;
  margin-top: 3px;
}
.SmartText-EditingActions--flat {
  flex-direction: row;
}
.SmartText-EditingActions--flat .SmartText-ConfirmIcon {
  margin-left: 2px;
  margin-right: 2px;
}
.SmartText.is-edit .SmartText-Display {
  visibility: hidden;
  border-width: 0px;
  height: 0px;
}
.SmartText.is-display .SmartText-Edit {
  display: none;
}
.SmartText-popover * {
  color: black !important;
}
.popover-content {
  color: black !important;
}
::-webkit-input-placeholder {
  opacity: .5;
}
