@import "utils/_colors.scss";
@import "utils/z-indexes";

/*
   NOTE: The text area mirrors the original element by
   copying it's styles inline. Thus, to style it here,
   the styles must be postfixed !important.
*/

:host {
  display: block;
}
.SmartText {
  width: 100%;
}
.SmartText-Display {
  overflow: hidden;
  display: flex;
  border: 1px solid white;
}
.SmartText-Display.is-active {
  color: $aqua;
  -webkit-text-fill-color: $aqua;
}
.SmartText-DisplayText {
  width: 100% !important;
}
.SmartText-Edit {
  overflow: hidden;
}
.SmartText-Edit.SmartText-Popout {
  position: fixed;
  z-index: 1;
  background: #fff;
  border: 3px solid #55a0c2;
  border-radius: 4px;
  z-index: $z-index-modal;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    content: ' ';
    z-index: -1;
  }
}
.SmartText-EditArea {
  box-sizing: border-box !important;
  width: 100% !important;
  overflow: hidden !important;
  resize: none !important;
  overflow-y: auto !important;
  height: auto !important;
}
.SmartText-Edit.is-notActive .SmartText-EditArea {
  border: 1px solid #cccccc !important;
}
.SmartText-Edit.is-active .SmartText-EditArea,
.SmartText-Edit.is-active .SmartText-input-tracker {
  border: 1px solid $aqua !important;
}
.SmartText-EditArea:focus {
  border: 1px solid $aqua;
  box-shadow: none;
  outline: none;
}
.SmartText.is-edit .SmartText-Display {
  visibility: hidden;
  border-width: 0;
  height: 0;
}
.SmartText.is-display .SmartText-Edit {
  display: none;
}
.SmartText.is-popout .SmartText-Edit {
  padding: 30px !important;
}
.SmartText-popover * {
  color: black !important;
  cursor: default;
}
.popover-content {
  color: black !important;
}
::-webkit-input-placeholder {
  opacity: .5;
}
.SmartText-input-tracker {
  top: -9999px !important;
  position: absolute !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  resize: none !important;
  overflow-y: auto !important;
  height: auto !important;
}
/deep/ supre-smart-text .SmartText-Display--unshaved + supre-tooltip {
  display: none !important;
}
