<div class="SmartText" [ngClass]="['is-' + (mode$ | async)]">
  <div
      class="SmartText-Display"
      [ngClass]="[
        'is-' + (displayState$ | async),
        shaved ? 'SmartText-Display--shaved' : 'SmartText-Display--unshaved'
      ]"
      (mouseover)="onMouseoverDisplay($event)"
      (mouseleave)="supreIsEditable && displayStateSource.next('notActive')"
      (click)="onClickDisplay($event)"
      (window:resize)="resizeSource.next('resize')"
      [supreTooltip]="' '"
      [content]="(fullText$ | async)"
  >
    <div #displayText class="SmartText-DisplayText">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="SmartText-Edit"
    [ngStyle]="{
      'padding': offsets && offsets.margin || 0,
      'top': popout && popoutCSS && popoutCSS.top || 'inherit',
      'left': popout && popoutCSS && popoutCSS.left || 'inherit',
      'width': popout && popoutCSS && popoutCSS.width || 'inherit'
    }"
    [ngClass]="['is-' + (editState$ | async), popout ? 'SmartText-Popout' : '' ]"
  >
    <textarea #editText rows="{{visibleEditRows}}"
        class="SmartText-EditArea"
        placeholder="{{suprePlaceholder}}"
        [style.cssText]="cssText | safeStyle"
        [style.padding]="offsets && offsets.padding || 0"
        (mouseenter)="editStateSource.next('active')"
        (mouseleave)="editStateSource.next('notActive')"
        (keydown)="trackHeightRows(editText, textareaTracker); editKeydown($event)"
        (keyup)="trackHeightRows(editText, textareaTracker); rawTextSource.next(editText.value)"
        (blur)="!popout && confirmText(editText.value)"
    >{{fullText$ | async}}</textarea>
    <span #textareaTracker
      class="SmartText-input-tracker"
      [style.cssText]="trackerCSS | safeStyle"
      [style.padding]="offsets && offsets.padding || 0"

      >{{editText.value}}</span>
    <div *ngIf="popout" class="flex justify-end _mts">
      <button (click)="editStateSource.next('notActive'); modeSource.next('display')" class="-cancel-md">Cancel</button>
      <button (click)="confirmText(editText.value)" class="-dialog">Save</button>
    </div>

  </div>
  <div style="display: none">
    <span #substituteShaveChar

    >{{substituteCharacter}}</span>
  </div>
</div>
